*{
   font-family: "Poppins", sans-serif; 
    font-weight: 400;
}

.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
}

.active {
  background-color: #422ad5;
  color: white;
}